body {
  box-sizing: border-box;
}

.header {
  display: flex;
  padding: 20px 50px;
  background-color: gray;
  color: white;
  font-size: 22px;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  margin-bottom: 100px;
}

.header a {
  text-decoration: none;
  color: white;
}

.header-button {
  display: flex;
  gap: 15px;
}

.header-button a {
  text-decoration: none;
  color: white;
}

.message {
  position: relative;
}

/* alert-message */
.alert-message {
  display: inline-block;
  position: absolute !important;
  top: -80px;
  right: 20px;
  max-width: 300px;
  z-index: 9999;
}
/* End alert-message */

/* chat */
.chat {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.chat .inner-body {
  padding: 10px;
  /* height: ; */
}
.chat .inner-body .inner-name {
  font-weight: 600;
}
.chat .inner-body .inner-content {
  background: #f1f1f1;
  margin-bottom: 10px;
  max-width: 220px;
  padding: 5px 10px;
  border-radius: 15px;
  line-height: 1.4;
}
.chat .inner-outgoing .inner-content {
  margin-left: auto;
  background: #fe5da3;
  color: #fff;
}
.chat .inner-foot {
  border-top: 1px solid #ddd;
  padding: 10px;
}
.chat .inner-form {
  display: flex;
  align-items: center;
}
.chat .inner-form input {
  flex: 1;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 0 10px;
  outline: none;
}
.chat .inner-form button {
  border-radius: 15px;
  border: 1px solid #fe5da3;
  background: #fe5da3;
  color: #fff;
  height: 32px;
  padding: 0 10px;
  cursor: pointer;
}

.chat .inner-body {
  padding: 10px;
  height: 450px;
  overflow-y: auto;
}

.chat .inner-preview-images {
  position: relative;
}
.chat .inner-preview-images .label-container {
  display: none;
}
.chat .inner-preview-images .input-container {
  display: none;
}
.chat .inner-preview-images .image-preview {
  height: auto;
  padding: 0;
  border-radius: 0;
}
.chat .inner-preview-images .image-preview-item {
  width: 90px;
  background-size: contain;
}

.chat .inner-body .inner-images img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  background: #efefef;
  padding: 10px;
  margin: 0 5px 5px 0;
  border-radius: 5px;
}
.chat .inner-body .inner-outgoing .inner-images {
  margin-left: auto;
  text-align: right;
}
.chat .inner-body .inner-outgoing .inner-images img {
  margin: 0 0 5px 5px;
}

/* End chat */

/* .tooltip */
.tooltip {
  z-index: -1 !important;
}
.tooltip.shown {
  opacity: 1;
  z-index: 1070 !important;
}
/* End .tooltip */

/* box-typing */
.box-typing {
  position: relative;
}
.box-typing .inner-dots {
  position: relative;
  height: 20px;
  width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
  border-radius: 45px;
  margin-top: 2px;
}
.box-typing .inner-dots span {
  animation: blink 1.5s infinite;
  height: 5px;
  width: 5px;
  background: #252525;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
}
.box-typing .inner-dots span:nth-child(2) {
  animation-delay: 0.2s;
}
.box-typing .inner-dots span:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes blink {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
/* End box-typing */

/* box-user */
.box-user {
  display: flex;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
  position: relative;
}
.box-user .inner-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background: #f2f2f2;
  margin-right: 10px;
}
.box-user .inner-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box-user .inner-info {
  flex: 1;
}
.box-user .inner-info .inner-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}
.box-user [btn-cancel-friend] {
  display: none;
}
.box-user.add [btn-add-friend] {
  display: none;
}
.box-user.add [btn-cancel-friend] {
  display: inline-block;
}

.box-user [btn-deleted-friend] {
  display: none;
}
.box-user.refuse [btn-accept-friend] {
  display: none;
}
.box-user.refuse [btn-refuse-friend] {
  display: none;
}
.box-user.refuse [btn-deleted-friend] {
  display: inline-block;
}

.box-user [btn-accepted-friend] {
  display: none;
}
.box-user.accepted [btn-accept-friend] {
  display: none;
}
.box-user.accepted [btn-refuse-friend] {
  display: none;
}
.box-user.accepted [btn-accepted-friend] {
  display: inline-block;
}
.box-user .inner-status {
  font-size: 12px;
  color: #00d800;
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}
.box-user .inner-status[status="online"] {
  opacity: 1;
}
/* End box-user */

/* box-room */
.box-room {
  display: flex;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.box-room .inner-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background: #f2f2f2;
  margin-right: 10px;
}
.box-room .inner-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box-room .inner-info {
  flex: 1;
}
.box-room .inner-info .inner-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}
/* End box-room */
